<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lineageos.aperture.overlay.pomelo">

    <overlay
        android:isStatic="true"
        android:targetPackage="org.lineageos.aperture"
        android:requiredSystemPropertyName="ro.product.model"
        android:requiredSystemPropertyValue="M2010J19SL"/>
</manifest>
